<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlaChat</title>
    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <span class="brand">FlaChat</span>
        <h1>Stanze che restano.</h1>
        <p>Superstanze con canali, ruoli e cronologia che non sparisce.
           Entri con un codice e ritrovi tutto dov'era.</p>
        <div class="azioni">
            <a class="button" href="/login">Accedi</a>
            <a class="button btn-secondary" href="/register">Crea un account</a>
        </div>


        <div class="warn">
            <h1>NOTIZIE</h1>
            <p>
                Siamo lieti di annunciare che abbiamo migrato Database!
                <br>
                Se il vostro account non esiste più, rifatelo, essendo che abbiamo cambiato database.
                <br>
                <strong>Dovete fare un account una volta sola, essendo che gli aggiornamenti non andranno a influenzare i
                    <br>
                    vostri account. Stesso per le superstanze.
                </strong>
            </p>
        </div>
    </div>
</body>
</html>
