<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlaChat</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>FlaChat</h1>
        <p>Benvenuto! Accedi o registrati per chattare.</p>
        <a href="/login"><button>Accedi</button></a>
        <br><br>
        <a href="/register"><button>Registrati</button></a>

        <br><br>

        <div class="warn">
            <h1>NOTIZIE</h1>
            <p>
                Siamo lieti di annunciare che abbiamo migrato Database!
                <br>
                Se il vostro account non esiste più, rifatelo, essendo che abbiamo cambiato database.
                <br>
                <strong>Dovete fare un account una volta sola, essendo che gli aggiornamenti non andranno a influenzare i
                    <br>
                    vostri account. Stesso per le superstanze.
                </strong>
            </p>
        </div>
    </div>
</body>
</html>
