<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlaChat</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>FlaChat</h1>
        <p>Benvenuto! Accedi o registrati per chattare.</p>
        <a href="/login"><button>Accedi</button></a>
        <br><br>
        <a href="/register"><button>Registrati</button></a>

        <br><br>

        <div class="warn">
            <h1>Attenzione</h1>
            <p>
                Siamo lieti di annunciare che FlaChat ha migrato Database!
                <br>
                Ogni aggiornamento non andrà ad influenzare i vostri account e/o le vostre superstanze.
            </p>
        </div>
    </div>
</body>
</html>
